{% extends 'platform_base.html' %}
{% load static %}

{% block 'seo' %}
{% endblock %}

{% block 'title' %}
<title>News |</title>
{% endblock %}

{% block 'content' %}
<div class="container-fluid">
    <nav class="px-2 m-2 border rounded" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb m-2">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">News</li>
        </ol>
    </nav>

    <section name="news" class="border p-4 m-2">
        <h1 class="mx-2">News</h1>

        <section class="border rounded m-2 p-3">
            <div class="row align-items-center">
                <div class="col-md-2 d-flex flex-row align-items-center gap-2">
                    <img class="" style="width: 50px;" src="{% static 'test_images/profile1.svg' %}" alt="">
                    <div class="">Yedige Mazhit <span class="badge bg-primary mx-2">Admin</span></div>
                </div>
            </div>
            <div class="container-fluid mt-2">
                <p><b>Уважаемые студенты 1 курса образовательных программ - AIB, MT, EE, IoT!</b></p>
                <p>В рамках формирования индивидуального учебного плана (ИУП) на 2024-2025 учебный год вам необходимо выбрать элективные дисциплины по Вашей образовательной программе (инструкция по выбору элективов прикреплена ниже). Выбор ЭД будет осуществляться на портале https://du.astanait.edu.kz <br>Сроки выбора элективный дисциплин: начало 16.09.2024 
                    окончание 20.09.2024 в 23.59 часов</p>
            </div>
        </section>

        <section class="border rounded m-2 p-3">
            <div class="row align-items-center">
                <div class="col-md-2 d-flex flex-row align-items-center gap-2">
                    <img class="" style="width: 50px;" src="{% static 'test_images/profile1.svg' %}" alt="">
                    <div class="">Yedige Mazhit <span class="badge bg-primary mx-2">Admin</span></div>
                </div>
            </div>
            <div class="container-fluid mt-2">
                <p><b>Уважаемые студенты 1 курса образовательных программ - AIB, MT, EE, IoT!</b></p>
                <p>В рамках формирования индивидуального учебного плана (ИУП) на 2024-2025 учебный год вам необходимо выбрать элективные дисциплины по Вашей образовательной программе (инструкция по выбору элективов прикреплена ниже). Выбор ЭД будет осуществляться на портале https://du.astanait.edu.kz <br>Сроки выбора элективный дисциплин: начало 16.09.2024 
                    окончание 20.09.2024 в 23.59 часов</p>
            </div>
        </section>

        <section class="border rounded m-2 p-3">
            <div class="row align-items-center">
                <div class="col-md-2 d-flex flex-row align-items-center gap-2">
                    <img class="" style="width: 50px;" src="{% static 'test_images/profile1.svg' %}" alt="">
                    <div class="">Yedige Mazhit <span class="badge bg-primary mx-2">Admin</span></div>
                </div>
            </div>
            <div class="container-fluid mt-2">
                <p><b>Уважаемые студенты 1 курса образовательных программ - AIB, MT, EE, IoT!</b></p>
                <p>В рамках формирования индивидуального учебного плана (ИУП) на 2024-2025 учебный год вам необходимо выбрать элективные дисциплины по Вашей образовательной программе (инструкция по выбору элективов прикреплена ниже). Выбор ЭД будет осуществляться на портале https://du.astanait.edu.kz <br>Сроки выбора элективный дисциплин: начало 16.09.2024 
                    окончание 20.09.2024 в 23.59 часов</p>
            </div>
        </section>
        
    </section>
</div>
{% endblock %}