{% extends 'platform_base.html' %}
{% load static %}
{% load platform_filters %}

{% block 'seo' %}
{% endblock %}

{% block 'title' %}
<title>Course |</title>
{% endblock %}


{% block 'content' %}
    <div class="container-fluid">
      <nav class="px-2 m-2 border rounded" style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
        <ol class="breadcrumb m-2">
                <li class="breadcrumb-item">
                    <a href="{% url 'platform_home' %}">
                        <span itemprop="name">Home</span>
                    </a>
                    <meta itemprop="position" content="1">
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span itemprop="name">Course</span>
                    <meta itemprop="position" content="2">
                </li>
                <li class="breadcrumb-item" aria-current="page">
                  <a href="{% url 'platform_course' Course.id %}">    
                    <span itemprop="name">{{Course.course.course_name}}</span>
                    <meta itemprop="position" content="3">
                  </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span itemprop="name">Attendance</span>
                    <meta itemprop="position" content="4">
                </li>
        </ol>
      </nav>
        <div class="container">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Remarks</th>
                  </tr>
                </thead>
                <tbody>
                    {% for lesson in lessons %}
                    <tr>
                      <th scope="row">{{lesson.lesson_datetime}}</th>
                      <td>{{ lesson.lesson_title }}</td>
                      {% with lesson.attendance|queryset_get:user.id as attendance %}
                        <td><span class="badge bg-success">{{attendance.status}}</span></td>
                        <td>{{attendance.remark}}</td>
                      {% endwith %}
                    </tr>
                    {% endfor %}    
                </tbody>
              </table>
        </div>
    </div>
{% endblock %}