{% extends 'platform_base.html' %}
{% load static %}


{% block 'seo' %}
{% endblock %}

{% block 'title' %}
<title>Dashboard |</title>
{% endblock %}

{% block 'content' %}
<div class="container-fluid">
    {% include 'components/breadcrumb.html' with url=url full=full_uri%}

    <section name="dashboard" class="p-2">
        <div class="row">
            <div class="col-md-9">
                {% include 'components/course_overviews.html' with courses=courses %}
                
            </div>
            <div class="col-md-3">
                {% include 'components/deadlines.html' with deadlines=deadlines %}
                {% include 'components/hot_links.html' with hot_links=hot_links %}
            </div>
        </div>
    </section>
</div>
{% endblock %}