{% extends 'platform_base.html' %}
{% load static %}

{% block 'seo' %}
{% endblock %}

{% block 'title' %}
<title>Course |</title>
{% endblock %}


{% block 'content' %}
    <div class="container-fluid">
        {% include 'components/breadcrumb.html' with url=url full=full_uri%}

        <section name="user_grades" class="p-2 m-2 border rounded">
            <h3 class="my-2">User Grades - Yedige Mazhit</h3>

            <table class="table w-100">
                <thead>
                  <tr>
                    <th scope="col">Assignment item</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Range</th>
                    <th scope="col">Percentage</th>
                    <th scope="col">Feedback</th>
                  </tr>
                </thead>
                <tbody>
                  {% for assignment in assignments %}
                    <tr>
                      <th scope="row"><a href="" class="fst-italic text-dark">{{assignment.assignment.assignment_name}}</a></th>
                      <td>{{assignment.grade}}</td>
                      <td>0 - {{assignment.grade_max}}</td>
                      <td>{%widthratio assignment.grade assignment.grade_max 100%}%</td>
                      <td>{{assignment.feedback}}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <th scope="row"></th>
                    <td class="fw-bold"></td>
                    <td class="fw-bold"></td>
                    <td class="fw-bold">Course Total<br><span class="fw-lighter fst-italic">Includes Empty grades</span></td>
                    <td class="fw-bold">{{course_total}}%</td>
                  </tr>
                </tbody>
              </table>
        </section>
    </div>
{% endblock %}