{% extends 'platform_base.html' %}
{% load static %}
{% load platform_filters %}

{% block 'seo' %}
{% endblock %}

{% block 'title' %}
<title>Dashboard |</title>
{% endblock %}


{% block 'content' %}
<div class="container-fluid">
  <nav class="px-2 m-2 border rounded" style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
    <ol class="breadcrumb m-2">
            <li class="breadcrumb-item">
                <a href="{% url 'platform_home' %}">
                    <span itemprop="name">Home</span>
                </a>
                <meta itemprop="position" content="1">
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <span itemprop="name">Calendar</span>
                <meta itemprop="position" content="2">
            </li>
    </ol>
  </nav>
    {{time_table}}
    <section name="calendar" class="p-2">
        <div class="container">
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Time</th>
                  <th scope="col">Monday</th>
                  <th scope="col">Tuesday</th>
                  <th scope="col">Wednesday</th>
                  <th scope="col">Thursday</th>
                  <th scope="col">Friday</th>
                  <th scope="col">Saturday</th>
                  <th scope="col">Sunday</th>
                </tr>
              </thead>
              <tbody>
                {% for hour in hours_of_week %}
                  <tr>
                    <!-- First column: Display the hour -->
                    <th scope="row">{{ hour }}</th>
                    
                    <!-- Loop through each day of the week for the current hour -->
                    {% for day in days_of_week %}
                      <td>
                        {% for schedule in schedules %}
                          {% if schedule.hour == hour and schedule.day == day %}
                            <!-- Display courses for the day and hour -->
                            {% for course in schedule.courses %}
                              <span class="badge bg-primary">{{ course.course.course_name }}</span><br>
                            {% endfor %}
                          {% endif %}
                        {% endfor %}
                      </td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
          </table>
              
            
        </div>
    </section>
</div>
{% endblock %}