{% extends 'platform_base.html' %}
{% load static %}
{% load platform_filters %}

{% block 'seo' %}
{% endblock %}

{% block 'title' %}
<title>Dashboard |</title>
{% endblock %}


{% block 'content' %}
<div class="container-fluid">
    {% include 'components/breadcrumb.html' with url=url full=full_uri%}
    {{time_table}}
    <section name="calendar" class="p-2">
        <div class="container">
            <!-- <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thrirthday</th>
                    <th scope="col">Friday</th>
                    <th scope="col">Sarurday</th>
                    <th scope="col">Sunday</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">09:00</th>
                    <td></td>
                    <td><span class="badge bg-primary">Cloud Computing</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">10:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span class="badge bg-primary">Cloud Computing</span>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">11:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="badge bg-primary">Cloud Computing</span></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">12:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">13:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">14:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">15:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">16:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">17:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">18:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">19:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">20:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table> -->
              <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Time</th>
                        <th scope="col">Monday</th>
                        <th scope="col">Tuesday</th>
                        <th scope="col">Wednesday</th>
                        <th scope="col">Thursday</th>
                        <th scope="col">Friday</th>
                        <th scope="col">Saturday</th>
                        <th scope="col">Sunday</th>
                    </tr>
                </thead>
                <tbody>
                  {% with "09:00,10:00,11:00,12:00,13:00,14:00,15:00,16:00,17:00,18:00,19:00,20:00"|split:"," as time %}
                  {% for hour in time %}
                  <tr>
                      <th scope="row">{{ hour }}</th>
                      {% for day in days_of_week %}
                          <td>
                              {% if schedule|get_item:day %}
                                  {% with schedule|get_item:day as day_schedule %}
                                      {% if day_schedule|get_dict_item:hour %}
                                          {% for item in day_schedule|get_item:hour %}
                                              <a class="text-decoration-none text-white" href="{% url 'platform_course' item.time_table.group.course.course_slug  %}"><span class="badge bg-primary">{{ item.time_table.group.course.course_name }}</span></a>
                                          {% endfor %}
                                      {% endif %}
                                  {% endwith %}
                              {% endif %}
                          </td>
                      {% endfor %}
                  </tr>
                  {% endfor %}
              {% endwith %}
              
                </tbody>
            </table>
            
        </div>
    </section>
</div>
{% endblock %}