{% extends 'platform_base.html' %}
{% load static %}


{% block 'seo' %}
{% endblock %}

{% block 'title' %}
<title>Dashboard |</title>
{% endblock %}

{% block 'content' %}
<div class="container-fluid">
    {% include 'components/breadcrumb.html' with url=url full=full_uri%}

    <section name="dashboard" class="p-2">
        <div class="row">
            <div class="col-md-9">
                <div class="border rounded p-2">
                    <h4>Courses overview</h4>
                    <div class="d-flex flex-row justify-content-between align-items-center flex-wrap">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-filter"></i> All
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">All</a></li>
                                <li><a class="dropdown-item" href="#">Past</a></li>
                                <li><a class="dropdown-item" href="#">In progress</a></li>
                                <li><a class="dropdown-item" href="#">Finished</a></li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-sort"></i> By name
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">By progress</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-3">
                        {% for i in '123456' %}
                        <div class="col-md-3 mt-2">
                            <a href="" class="text-decoration-none ">
                                <div class="card" style="">
                                    <img src="https://picsum.photos/400/200" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h6 class="fw-lighter">Mathematics</h6>
                                      <h5 class="card-title w-100">Cloud computing</h5>
                                      <p class="card-text w-100">Aitmukhanbetova Elvira</p>
                                      <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
            <div class="col-md-3">
                {% include 'components/deadlines.html' %}
                {% include 'components/hot_links.html' with hot_links=hot_links %}
            </div>
        </div>
    </section>
</div>
{% endblock %}