{% extends 'base.html' %}
{% load static %}

{% block 'seo' %}
{% endblock %}

{% block 'title' %}
    <title>Blog | </title>
{% endblock %}

{% block 'content' %}
    <div class="container-fluid m-0 p-0">
        <section class="container">

            <div class="row">
                <div class="col-md-6">
                    <section name="main-article" class="btn p-2 rounded text-start">
                        {% include 'blocks/article_card.html' with Article=Articles.first %}
                    </section>
                </div>
                <div class="col-md-6">
                    <section name="other-articles" class="row rounded">
                        {% for Article in Articles|slice:'1:6' %}
                        <div class="col-md-4">
                            {% include 'blocks/article_card.html' with Article=Article %}
                        </div>
                        {% endfor %}
                    </section>
                </div>
            </div>

            <hr>

            <section class="category_other">
                <h1 class="text-uppercase">популярные материалы</h1>
                <section name="articles_other" class="row mx-auto">
                    {% for Article in Articles|slice:'6:18' %}
                    <div class="col-md-3">
                        {% include 'blocks/article_card_2.html' with Article=Article %}
                    </div>
                    {% endfor %}
                    <div class="row">
                        <a href="" class="col-md-4 btn btn-outline-dark mx-auto">Показать еще</a>
                    </div>
                </section>
            </section>
            
            <hr>

            {% include 'components/request.html' %}


            <hr>

            <section class="category_other">
                <h1 class="text-uppercase">популярные лайфхаки</h1>
                <section name="articles_other" class="row mx-auto">
                    {% for Article in Articles|slice:'18:30' %}
                    <div class="col-md-3">
                        {% include 'blocks/article_card_2.html' with Article=Article %}
                    </div>
                    {% endfor %}
                    <div class="row">
                        <a href="" class="col-md-4 btn btn-outline-dark mx-auto">Показать еще</a>
                    </div>
                </section>
            </section>

        </section>
    </div>
{% endblock %}