{% extends 'base.html' %}
{% load static %}

{% block 'seo' %}
{% endblock %}

{% block 'title' %}
    <title>Blog | </title>
{% endblock %}

{% block 'content' %}
<div class="container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <section name="title">
                    <div class="d-flex flex-row flex-wrap gap-2 py-2 align-items-center">
                        <p class="m-0 mx-1">
                            {% for tag in Article.tags.all %}
                            <span class="badge bg-secondary">{{ tag }}</span>
                            {% endfor %}
                        </p>
                        <p class="m-0">{{ Article.published }}</p>
                    </div>
                    <h1 class="py-2">{{ Article.article_title }}</h1>
                    <h4 class="fw-light py-2">
                        {{ Article.article_small_description }}    
                    </h4>
                    <div class="row gap-1 align-items-center w-75 py-2">
                        <img class="col-md-1 rounded-circle" src="{% static 'test_images/profile1.svg' %}" alt="">
                        <a class="col-md-5 text-decoration-none text-dark fst-italic" href="">{{ Article.article_author.name }} {{ Article.article_author.lastname }} <span class="badge bg-primary mx-2">Author</span></a>
                    </div>
                </section>
                <hr>
                <section name="article-content">
                    <!-- <p class="py-3">
                        <img class="rounded w-100" src="{% static 'test_images/test_article_image_banner.webp' %}" alt="">
                    </p>
                    <p class="fw-light h4 py-3">
                        Присматривать школу для первоклассника стоит хотя бы за год, а лучше — за пару лет. Это нужно для того, чтобы подобрать подходящие методики, учителей и атмосферу, которая будет вдохновлять ребёнка. Заявление на поступление в первый класс подают примерно в феврале-марте.
                    </p>
                    <div class="py-2"  style="border-left: 5px solid grey;">
                        <p class="fw-lighter fst-italic h4 text-center">
                            Нет плохих или хороших школ. Есть те, которые подходят или не подходят вашему ребёнку.
                        </p>
                        <p class="text-end m-0">Shakarim Kudaiberdiuly</p>
                    </div>
                    <p class="fw-bold h1 py-3">Шаг 1. Сформулируйте критерии выбора школы</p>
                    <p class="fw-light h4 py-3">Чтобы понять, какое учебное заведение подходит вашему ребёнку, нужно разобраться с условиями. Например, одной семье важно, где расположена школа, сколько стоит обучение и есть ли продлёнка. Другую интересуют квалификация педагога, наличие углублённого изучения предметов и отсутствие школьной формы.</p>
                    <p class="fw-light h4 py-3">Учитывая особенности характера ребёнка — усидчивость или непоседливость, ранимость или спокойствие, стремление к уединению или тягу к общению, — сформулируйте, что наиболее важно именно для вашей семьи.</p>
                    <p class="fw-light h4 py-3">Оцените время, терпение и финансы, которыми располагают взрослые члены семьи, при выборе начальной школы. Если ребёнок будет учиться в сильном лицее, кто-то должен будет помогать первокласснику с домашними заданиями каждый день. Родители-фрилансеры, мама в декрете, бабушка или дедушка смогут уделить достаточно внимания. А вот маме, которая работает и воспитывает ребёнка одна, такая нагрузка может быть не по силам.</p>
                    <p class="fw-bold h1">Шаг 2. Учтите особенности ребёнка</p>
                    <p class="fw-light h4 py-3">Согласно Федеральному закону «Об образовании в Российской Федерации» дети поступают в первый класс в возрасте 6,5–8 лет. Уровень психологической готовности, как и учебной, может быть разным: кто-то в пять хочет сидеть за партой, а кто-то и в семь не знает буквы.</p>
                    <p class="fw-light h4 py-3">Если у ребёнка ограниченные возможности здоровья или тяжёлая ситуация со здоровьем, то к выбору школы нужно отнестись с особым вниманием. В первом случае есть четыре варианта обучения: обычная или коррекционная школа, семейное или надомное образование. Во втором — обычная школа, семейное или надомное обучение.</p>
                    <p class="fw-light h4 py-3">Перед тем как выбрать начальную школу для ребёнка, подумайте об уровне его интеллектуального развития, а также о здоровье, эмоциональной зрелости, темпераменте и мотивации к учёбе.</p>
                    <p class="fw-light h4 py-3"></p> -->
                    {{ Article.article_body|safe }}
                </section>
                <hr>
            </div>
        </div>
        {% include 'components/request.html' %}
    </div>
</div>
{% endblock %}