{% load static %}
<div class="container-fluid my-3">
    <div class="row justify-content-center my-3">
        <div class="col-md-2">
            {% include 'blocks/home/category_round.html' %}
        </div>
        <div class="col-md-2">
            {% include 'blocks/home/category_round.html' %}
        </div>
        <div class="col-md-2">
            {% include 'blocks/home/category_round.html' %}
        </div>
        <div class="col-md-2">
            {% include 'blocks/home/category_round.html' %}
        </div>
        <div class="col-md-2">
            {% include 'blocks/home/category_round.html' %}
        </div>
        <div class="col-md-2">
            {% include 'blocks/home/category_round.html' %}
        </div>
    </div>
</div>