{% extends 'base.html' %}
{% load static %}

{% block 'seo' %}
{% endblock %}

{% block 'content' %}
<!-- {% include 'components/divider.html' %} -->
<div class="container">
    <div class="container-fluid">
        {% for Category in CourseCategories %}
        <h4>{{Category.category_name}}</h4>
            {% for Subcategory in CourseSubcategories %}
            {{Subcategory.subcategory_name}}
                <div class="row">
                    {% for Course in Courses %}
                        {% if Course.course_subcategory == Subcategory %}
                        <div class="col-md-3">
                            {{ Course.course_name }}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <hr>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}