{% load static %}

<div class="border rounded p-2">
    <h4>Courses overview</h4>
    <div class="d-flex flex-row justify-content-between align-items-center flex-wrap">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-filter"></i> All
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">All</a></li>
                <li><a class="dropdown-item" href="#">Past</a></li>
                <li><a class="dropdown-item" href="#">In progress</a></li>
                <li><a class="dropdown-item" href="#">Finished</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-sort"></i> By name
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">By progress</a></li>
            </ul>
        </div>
    </div>

    <div class="row mt-3">
        {% for course in courses %}
            {% include 'blocks/course_card.html' with course=course %}
        {% endfor %}
    </div>
</div>