{% load static %}
<div class="col-md-4">
    <div class="card p-3" style="border: 1px solid #FF6666!important;">
        <div class="row">
            <div class="col-md-5 d-flex flex-row align-items-center justify-content-start gap-4">
                <img src="{% static 'test_images/profile1.svg' %}" style="width:40px; height:40px;" alt="" class="d-block rounded-cirlce">
                <a href="" class="text-black">Yedige</a>
            </div>
            <div class="col-md-7 text-end">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
        </div>
        <hr class="" style="border: 1px solid #FF6666;">
        <p>Очень хорошие курсы, всем  советую всем. Доволен! Занятия в интернет-школе «Ерудит» не ограничивают...</p>
    </div>
</div>
