{% load static %}
<div class="container-fluid my-3">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-block w-100">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{% static 'test_images/thinking 1.svg' %}" alt="" class="d-block w-100">
                    </div>
                    <div class="col-md-8 d-flex flex-column justify-content-center align-items-center">
                        <h1>Онлайн - занятии с репетитором</h1>
                        <p class="px-5">Одна из ведущих курсов Казахстана по подготовке к тестам. ВСЕ ученики успешно сдали тесты! Присоединяйся к нам и стань умнее!!!</p>
                        <button class="btn text-white" style="background-color: #F76C6C;">Получить бесплатную<br> консультацию</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>