{% load static %}
<div class="container-fluid my-3">
    <h1 class="text-center">Лицензия и сертификат</h1>
    <div class="row justify-content-between">
        <div class="col-md-4">
            <h3>Государственная лицензия</h3>
            <p class="m-0" style="font-size: 20px;">Наши образовательные программы соответствуют стандартам школьного и дошкольного образования. Вы можете получить налоговый вычет и использовать материнский капитал для оплаты некоторых программ обучения</p>
            <button class="btn mt-2" style="border: 3px solid #374785;">Проверить лецензию</button>
        </div>
        <div class="col-md-5">
            <img class="d-block w-100" src="{% static 'test_images/certificate.jpg' %}" alt="">
        </div>
    </div>
</div>