{% load static %}
<div class="container-fluid my-3">
    <h1 class="text-center">ФОРМАТЫ ОБУЧЕНИЯ</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="rounded p-3" style="background-color: #F8E9A1; color: #374785;">
                        <h4>Онлайн уроки</h4>
                        <p class="m-0">На каждый урок новые видео уроки с обяснениями и возможностью пересмотреть урок сколько угодно!</p>
                    </div>
                </div>
            </div>
            <div class="row mt-3 justify-content-between">
                <div class="col-md-6">
                    <div class="rounded p-3" style="background-color: #A8D0E6; color: #A37679">
                        <h4>Онлайн уроки</h4>
                        <p class="m-0">На каждый урок новые видео уроки с обяснениями и возможностью пересмотреть урок сколько угодно!</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="rounded p-3" style="background-color: #A37679; color: #F8E9A1;">
                        <h4>Онлайн уроки</h4>
                        <p class="m-0">На каждый урок новые видео уроки с обяснениями и возможностью пересмотреть урок сколько угодно!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="p-3 rounded" style="background-color: #374785; color: #F76C6C;">
                <h4>Онлайн уроки</h4>
                <p class="m-0">На каждый урок новые видео уроки с обяснениями и возможностью пересмотреть урок сколько угодно!</p>
            </div>
        </div>
        <div class="col-md-2">
            <div class="rounded p-3" style="background-color: #F76C6C; color: #374785;">
                <h4>Онлайн уроки</h4>
                <p class="m-0">На каждый урок новые видео уроки с обяснениями и возможностью пересмотреть урок сколько угодно!</p>
            </div>
        </div>
    </div>
</div>