{% load static %}
<!-- <div class="my-5 py-5">
    <div class="container-fluid my-5 w-75 p-5" style="transform: rotate(5deg)!important; background-color: #6DB2CF!important;">
        <div class="container row p-5 rounded w-75 mx-auto" style="transform: rotate(-5deg)!important;background-color: #99D4F6;">
            <div class="col-md-7" style="border-right: 1px solid white">
                <h1>Оставьте заявку, и мы ответим на вопросы</h1>
                <p class="m-0">Позвоним в течение 30 минут в рабочее время — с 8:00 до 21:00.Задавайте любые вопросы, а мы ответим и поможем подобрать занятия</p>
            </div>
            <div class="col-md-5" style="border-left: 1px solid white">
                <form action="">
                    
                </form>
            </div>
        </div>
    </div>
</div> -->
<div class="my-2 py-2">
    <div class="container row p-5 rounded mx-auto" style="background-color: #99D4F6;">
        <div class="col-12 col-sm-12 col-md-5 col-lg-5">
            <h1>Оставьте заявку, и мы ответим на вопросы</h1>
            <p class="m-0">Позвоним в течение 30 минут в рабочее время — с 8:00 до 21:00.Задавайте любые вопросы, а мы ответим и поможем подобрать занятия</p>
        </div>
        <hr class="col-lg-1" style="color: white!important">
        <div class="col-12 col-sm-12 col-md-7 col-lg-6" style="border-left: 1px solid white">
            <form action="">
                
            </form>
        </div>
    </div>
</div>