{% load static %}
<footer class="bg-light p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Erudit Group</h4>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Учеба в Erudit Group</h4>
            </div>
            <div class="col-md-4">
                <h4>Свяжитесь с нами</h4>
            </div>
        </div>
    </div>
</footer>