{% load static %}
<footer class="p-3" style="background-color: #A8D0E6;">
    <div class="container pt-3">
        <div class="row">
            <div class="col-md-4">
                <h4>EruditGroup</h4>
                <ul class="container navbar-nav d-flex flex-column align-items-start justify-content-center">
                    <li class="nav-item mr-2">
                      <a href="" class="nav-link active">О EruditGroup</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a href="" class="nav-link active">Наши преподаватели</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a href="" class="nav-link active">Отзывы о EruditGroup</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a href="" class="nav-link active">Сведения об образовательной организации</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a href="" class="nav-link active">Вакансии</a>
                    </li>
                  </ul>
            </div>
            <div class="col-md-4">
                <h4>Курсы</h4>
                <ul class="container navbar-nav d-flex flex-column align-items-start justify-content-center">
                    <!-- <li class="nav-item mr-2">
                        <a href="" class="nav-link active">О EruditGroup</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a href="" class="nav-link active">Наши преподаватели</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a href="" class="nav-link active">Отзывы о EruditGroup</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a href="" class="nav-link active">Сведения об образовательной организации</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a href="" class="nav-link active">Вакансии</a>
                    </li> -->
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Свяжитесь с нами</h4>
                <ul class="container navbar-nav d-flex flex-column align-items-start justify-content-center">
                    <li class="nav-item mr-2">
                      <a href="" class="nav-link active">EruditGroup@gmail.com</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a href="" class="nav-link active">8 777 111 11 11</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a href="" class="nav-link active">ЧАТ С ПОДДЕРЖКОЙ</a>
                        <i class="fa-brands fa-whatsapp"></i> <i class="fa-brands fa-instagram"></i>
                    </li>
                    <li class="nav-item mr-2">
                        <a href="" class="nav-link active">СОЦИАЛЬНЫЕ СЕТИ</a>
                        <i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-facebook"></i>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="m-0 p-0">
        <div class="row">
            <div class="col-md-4">
                <h3>©, EruditGroup, 2000-2024</h3>
            </div>
            <div class="col-md-4">
                <p>Онлайн-платформа «Erudit» внесена в реестр Казахстанских программ для электронных вычислительных машин и баз данных</p>
            </div>
            <div class="col-md-4">
                <img src="" alt="">
                <p>Государственная Лицензия</p>
            </div>
        </div>
    </div>
</footer>