{% load static %}
<header class="bg-light">
  <nav class="navbar" style="background-color: #A8D0E6;">
    <ul class="d-flex flex-row align-items-center justify-content-end navbar-nav container">
      <li class="nav-item mx-2">
        <a href="" class="nav-link active"><i class="fa-regular fa-envelope"></i> eruditgroup@gmail.com</a>
      </li>
      <li class="nav-item mx-2">
        <a href="" class="nav-link active"><i class="fa-solid fa-phone"></i> +7 708 549 2937 </a>
      </li>
      <ul class="navbar-nav mx-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-language"></i> Ру 
          </a>
          <ul class="position-absolute dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Ру</a></li>
            <li><a class="dropdown-item" href="#">Eng</a></li>
          </ul>
        </li>
      </ul>
    </ul>
  </nav>
  <nav class="container navbar navbar-expand-lg navbar-light">
    <div class="container-fluid row justify-content-between align-items-center">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 d-flex flex-row justify-content-start align-items-center">
          <a class="navbar-brand" href="{% url 'home' %}"><img class="img-fluid" src="{% static 'images/logos/logo.png' %}" alt="" ></a>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-6 d-flex flex-row justify-content-center align-items-center">
            <div class="input-group border border-light border-dark rounded w-100">
              <input type="text" id="search" class="form-control border-0" placeholder="Поиск по Эрудиту" aria-label="Search" aria-describedby="basic-addon1">
              <span class="input-group-text bg-white border-0" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-5 col-lg-3 d-flex flex-column justify-content-center align-items-center">
          <div class="navbar" id="navbar1">
            <ul class="navbar-nav align-items-center d-flex flex-row">
                <li class="nav-item">
                    <div class="btn text-white" style="background-color: #F76C6C;">
                        Записаться
                    </div>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    
                    <ul class="navbar-nav mx-2">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'profile' user.username %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa-regular fa-user"></i>
                          {{ user.name }} {{ user.lastname }}
                        </a>
                        <ul class="position-absolute dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a href="{% url 'profile' user.username %}" type="submit" class="dropdown-item">Profile</a></form></li>
                          <li><form method="post" action="{% url 'logout' %}">{% csrf_token %}<button class="dropdown-item btn btn-danger">Logout</button></form></li>
                        </ul>
                      </li>
                    </ul>
                    {% else %}
                    <a class="nav-link" href="{% url 'signin' %}"><i class="fa-regular fa-user"></i> Войти / Регистрация</a>
                    {% endif %}
                </li>
                
            </ul>
          </div>
        </div>
    </div>
  </nav>
  <nav class="container navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container-fluid">
      <button class="navbar-toggler w-100" type="button" data-bs-toggle="collapse" data-bs-target="#navbar2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar2">
        <ul class="navbar-nav">
          <button class="btn" type="button" style="background-color: #F8E9A1;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <i class="fa-solid fa-bars"></i> Menu
          </button>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'catalog' %}">Курсы</a>
          </li>
          {% for SubCategory in CourseSubcategories %}
          <li class="nav-item">
            <a class="nav-link" href="#">{{SubCategory.subcategory_name}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      {% for item in MenuItems %}
      <button class="btn w-100 border-1 border-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        {{ item.category_name }}
      </button>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          {% for subcategory in item.categories %}
            <div class="col-12 col-md-6 col-lg-4">
              <a href="" class="text-dark"><h4>{{ subcategory.subcategory_name }}</h4></a>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</header>
