{% load static %}
<div class="container-fluid mb-3" style="background-color: #A8D0E6;">
    <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-block w-100">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{% static 'test_images/lecturer.svg' %}" alt="" class="d-block w-100">
                            </div>
                            <div class="col-md-8 d-flex flex-column justify-content-center align-items-center">
                                <h1>Математика</h1>
                                <p class="px-5 fs-3">Занятия ведут репетиторы с опытом от 1 года до 15 лет, которые помогут улучшить оценки, хорошо сдать математическую часть ЕНТ или SAT  поступить в престижный университет.</p>
                                <button class="btn text-white fs-3" style="background-color: #F76C6C;">Записаться</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>