{% load static %}
{% load djmoney %}
<div class="card p-3">
    
    <div class="card-body">
        <h5 class="card-title">{{ Course.course_name }}</h5>
        <p class="catd-text">Курс {{ Course.course_name }} от {% money_localize Course.course_price %}</p>
        <p class="">
            <a href=""><span class="badge bg-secondary">{{ Course.course_subcategory.subcategory_name }}</span></a>
            <a href=""><span class="badge bg-secondary">{{ Course.course_language }}</span></a>
            <a href=""><span class="badge bg-secondary">{{ Course.course_grade }} Класс</span></a>
        </p>
        <a href="{% url 'course' Course.course_slug %}" class="btn w-100" style="border: 1px solid #FF6666;">Подробнее</a>
    </div>
</div>